.python-version
.vscode
sentences.json
data/
unit_7_westminster/westminster_data/
unit_7_westminster/Unit7_smalldata_gensim.py
unit_7_westminster/Unit7_smalldata_multi.py
unit_7_westminster/Unit7_smalldata_noqueue.py
unit_7_westminster/Unit7_smalldata.py
unit_7_westminster/tmp*
unit_7_westminster/single
unit_7_westminster/mid-summary.txt
unit_7_westminster/generate_sentences.py
unit_7_westminster/result_no_param_small/
unit_7_westminster/result_ratio_0.1_small/

# FOR macOS

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk



# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk
